/* Header Geral */
header {
    background-image: url('../Images/Background_Header.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    align-items: end;
    width: 100%;
    padding: 50px;
    z-index: 10;
}

/* Header Logo */
header .logo {
    display: flex;
    align-items: center;
    gap: 50px;
}

header .logo #logo_petshop{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

header .logo #slogan {
    color: var(--color-titles-text);
    font-family: var(--font-highlights);
    background-color: var(--color-titles-bg);
    border-radius: var(--radius);
    padding: 20px;
}

/* Header Info */
header .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 50px;
    gap: 10px;
    margin-bottom: 20px;
    padding-left: 50px;
    color: var(--color-titles-text);
    font-family: var(--font-highlights);
    max-width: 400px;
    max-height: 400px;
}

header .info h1 {
    background-color: var(--color-titles-bg);
    border-radius: var(--radius);
    padding: 10px;
}

header .info .contact {
    display: flex;
    align-self: end;
    align-items: center;
    gap: 25px;
}

header .info .icons button {
    border-radius: 50%;
    border: 0;
    transition: scale 0.3s ease;
}

header .info .icons button:hover {
    scale: 105%;
}

header .info .icons img {
    width: 60px;
    height: 60px;
}

/* Header Navbar */
header .menu {
    display: flex;
    gap: 15px;
    list-style: none;
    position: relative;
    left: 32px;
}

header .menu .dropdown .dropdown_content {
    display: none;
    position: absolute;
    width: 200px;
}

header .menu .dropdown:hover .dropdown_content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0;
    list-style: none;
}

header .menu a,
header .menu .dropdown .dropdown_content a {
    text-decoration: none;
    background-color: var(--color-buttons);
    font-family: var(--font-text);
    font-size: 20px;
    color: var(--color-titles-text);
    border-radius: var(--radius);
    padding: 15px;
}
 
header .menu .dropdown .dropdown_content a {
    font-size: 18px;
    padding: 10px;
}

header .menu a:hover,
header .menu .dropdown_content a:hover {
    background-color: var(--color-buttons-hover);
}